@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeoH.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}